{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        scicloj/tablecloth {:mvn/version "7.067"}
        org.scicloj/kindly {:mvn/version "4-beta23"}
        generateme/fastmath {:mvn/version "3.0.0-alpha4"}
        clojure2d/clojure2d {:mvn/version "1.5.0-alpha1"}
        com.phronemophobic/membrane {:mvn/version "0.14.4-beta"}
        org.scicloj/wadogo {:mvn/version "1.1.0-alpha1"}
        metosin/malli {:mvn/version "0.20.1"}}

 :aliases
 {:dev {:extra-paths ["notebooks" "test"]
        :extra-deps {org.scicloj/clay {:mvn/version "2.0.14"}
                     org.scicloj/noj {:mvn/version "2-beta24"}
                     org.scicloj/tableplot {:mvn/version "1-beta16"}
                     org.scicloj/zulipdata {:mvn/version "0.1.1"}
                     org.slf4j/slf4j-simple {:mvn/version "2.0.16"}}}

  :test {:extra-paths ["notebooks" "test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.scicloj/clay {:mvn/version "2.0.14"}
                      org.scicloj/noj {:mvn/version "2-beta24"}
                      org.scicloj/tableplot {:mvn/version "1-beta16"}
                      org.slf4j/slf4j-simple {:mvn/version "2.0.16"}}}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
